# first list the packages you wish to download from PyPI
teachbooks == 0.2.3 # depends on jupyter-book

sphinx-tudelft-theme == 1.2.0
teachbooks-sphinx-grasple == 1.2.6
sphinx-prime-applets == 1.2.0
sphinx-indexed-definitions == 1.1.0
sphinx-new-tab-link == 0.8.1
sphinx-apa-references == 1.0
sphinx-visualized==0.8.1

# Our favourite Sphinx extensions in one line, replace with individual extensions if you prefer some extensions not to be included (https://github.com/TeachBooks/TeachBooks-Favourites)
git+https://github.com/TeachBooks/TeachBooks-Favourites@v1.5.0